<link rel="stylesheet" href="/styles/detail.css" type="text/css">

<div class="body">
    <% @post.images.each do |image| %>
        <object data="<%= image.main_image_url %>" width="100%" style="height:auto; min-height:500px;"></object>
    <% end %>
    
    <form method="post" action="/id/<%= @image.ids %>/delete">
        <button type="submit" class="delete-button">この投稿を削除</button>
    </form>
</div>
