<link rel="stylesheet" href="/styles/index.css" type="text/css">
    

<div class="body">
    <div class="term-filter-container">
        <select class="term-filter">
            <option>1年前期</option>
            <option>1年後期</option>
            <option>2年前期</option>
            <option>2年前期</option>
        </select>
    </div>
    <% @posts.each do |post| %>
        <a href="/id/<%= post.images.ids[0] %>"><div class="posts"><%= post.subject_name %></div></a>
    <% end %>
    <div class="button-container">
        <button id="upload_widget" class="button upload-button">過去問を追加する</button>
    </div>
    
    <div class="modal" id="modal">
        <div class="modal-container">
            <div class="modal-content">
                <form method="post" action="/post" enctype="multipart/form-data">
                    <input type="file" name=upload_photo multiple required>
                     <select class="subject-selector" name="term">
                        <option>1年前期</option>
                        <option>1年後期</option>
                        <option>2年前期</option>
                        <option>2年後期</option>
                    </select>
                    <select class="subject-selector" name="subject_name">
                        <option>数学B</option>
                        <option>物理</option>
                        <option>化学</option>
                        <option>社会</option>
                    </select>
                    <button type="submit" class="button">投稿</button>
                </form>
            </div>
        </div>
    </div>
                
    <script>
        document.getElementById("upload_widget").addEventListener("click", function() {
            document.getElementById('modal').style.display = 'block';
        }, false);
    
        document.getElementById('closeModal').addEventListener("click", function() {
            document.getElementById('modal').style.display = 'none';
        }, false);
    </script>
</div>
