<link rel="stylesheet" href="/styles/index.css" type="text/css">

<div class="body">
    <% @posts.each do |post| %>
        <% post.images.each do |post| %>
            <div class="posts"><%= post.post_id %></div>
        <% end %>
    <% end %>
</div>
