<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>過去問共有アプリ</title>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
</head>
<body>
    <nav>
        <div class="header">
            <a href="/" class="title">ホーム</a>

            <div class="upload-button">
                <button id="upload_widget" class="cloudinary-button">新規投稿</button>
                    
                <script>
                    document.getElementById("upload_widget").addEventListener("click", function(){
                        console.log("Clicked!!");
                    }, false);
                </script>
            </div>
        </div>
    </nav>
    <%= yield %>
</body>
</html>
