<div>
    <form method="post" action="/new" enctype="multipart/form-date" class="newpost">
        <button type="submit" id="share">シェアする</button>
        <p class="drag-drop-buttons">
            <input id="file-input" type="file" accept="image/*" value="ファイルを選択" name="upload-photo" onChange="photoPreview(event)">
        </p>
    </form>
</div>